<ion-header [translucent]="true">
  <ion-toolbar>
  <ion-title expand="block">
     QUAL   COMBUSTIVEL?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
      <ion-img src="assets/{{ usuario }}"></ion-img>
    

    <div>
      <ion-item>
        <ion-label position="floating">Preço da Gasolina</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Preço do Etanol</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </div>
      
    <div id="btn">
      <ion-button expand="block">Verificar</ion-button>
    </div>
  </div>
</ion-content>