<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     QUAL SELECAO?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-img src="assets/selecoes/{{ selecao }}">
    </ion-img>
    <div>
      <ion-button expand="block" color="primary">Brasil</ion-button>
    </div>
    <div>
      <ion-button expand="block" color="secondary">França</ion-button>
    </div>
    <div>
      <ion-button expand="block" color="danger">Portugal</ion-button>
    </div>
    <div>
      <ion-button expand="block" color="warning">Argentina</ion-button>
    </div>
  </div>
  </ion-content>